<p>hello world</p>
<app-event></app-event>

<hr>
{{ title | uppercase }}
<hr>
{{pipeDemo | json}}
<hr>

<h3>nemszines</h3>

<ul>
  <li *ngFor="let event of events">{{event}}</li>
</ul>

<div *ngIf="show">
  <p>Varró Dániel</p>
</div>

<div [ngClass]="{ 'valami': show }">
  <p>ngClassDemo</p>
</div>


<input type="text" [(ngModel)]="inputContent">
<div>
  {{inputContent}}
</div>

<button (click)="toggle()"
        (mouseover)="demo($event)"
        [disabled]="klikkeljunkide"
>Toggle
</button>


<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
